.commentInput{
    background-color:#F0F2F5;
    width: 80%;
    height:25px;
    border-radius:10px;
    border:1px;
}

.commentButton{
    margin-left: 10px;
}

.commentForm{
    width:100%;
    height:100%;
    
}

.inputWrapper{
    height: 100%;
    
}
/* working on comments showhide div styling */
.btn-showhidecomments{
    border:none;
    cursor: pointer;
    background: #F0F2F5;
    background-color: white;
}
.btn-showhidecomments:hover{
    background:green;
}

.comments-show-hide-button{
    background-color:none;
    background: transparent;
    color:black;
    border: 1px solid red;
    
}

.comments-showhide-wrapper{
    background-color:salmon;
    
}

.comments-showhide-wrapper{
    display:flex;
    justify-content: space-evenly;
    height:25px;
}

/* Styling comments popup to cover everything and be in center of the page */
.popup-comments-wrapper{
    /* Using this div to cover the background up */
    position: absolute;
    left:0;
    top:0;
    background-color: lightgreen;
    width: 100%;
    height:100%;
}

/* Div to show the list of comments (centered on page) */
.comments-wrapper{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgrey;
    width: 50%;
    height: 50%;
}