.likes-wrapper{
    
    display:flex;
    justify-content: space-evenly;
    
}


.likes-showhide-button{

    border: 1px solid green;    
    background-color:transparent;
    color: black;
}

.likes-showhide-button:hover{
    background-color: #DDDFE2;
    /* color: #0866FF; */
    
    
}


/* Show/hide popup styling */
.popup-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DDDFE2
   

}

.likes-showhide-wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    position: relative;
    border:1 solid pink;
    top: 50%;
    left: 50%;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}


