.likes-wrapper{
    
    display:flex;
    justify-content: space-evenly;
    
}


.likes-showhide-button{

    background-color:none;
    background: transparent;
    color:black;
    border: 1px solid #DDDFE2;
}

.likes-showhide-button:hover{
    color:white;
    background-color:limegreen;
    border: 1px solid #DDDFE2;

    
    
}


/* Show/hide popup styling */
.popup-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DDDFE2
   

}

.likes-showhide-wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    position: relative;
    border:1 solid pink;
    top: 50%;
    left: 50%;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}



.likeButton{
    color: black;
    background-color: #FFFFFF;
    border: 3px double #0866FF;

}

.likeButton:hover{
    color:white;
    background-color:limegreen;
    border: 1px solid #DDDFE2;

}

.unlikeButton{
    color: black;
    background-color: #FFFFFF;
    border: 3px double #0866FF;

}

.unlikeButton:hover{
    color:white;
    background-color:red;
    border: 1px solid #DDDFE2;

}