*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}

/* 
.signup-form{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: seagreen;
}

.form-wrapper{
    background-color:blue;
    margin:25px;
    padding:25px;
}

.form-title{
    font-size:36px;
    text-align:center;
    
}

.input-wrapper{
    width:100%;
    height:50px;
    background-color: salmon;
    margin:30px 0;
} */

.signup-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    
    background: transparent;
    
}

.signup-info, .signup-form{
    max-width:400px;
    padding:25px;
    background-color:	#ffffff;
    margin:25px;
    border-radius:10px;
}


.signup-form{
    width:500px;
    height:500px;
    
}

.signup-info{
    height:400px;
    width:500px;
}

.form-title{
    font-size:36px;
    text-align:center;
    
}

.input-wrapper{
    width:100%;
    height:50px;
    /* background-color: salmon; */
    margin:30px 0;
} 

.signup-info-header, .form-title {
    color: #1877F2;
    font-weight:700
} 

.form-title{
    font-size: 52px;
}
.input-wrapper input {
    width:100%;
    height:100%;
    background: transparent;
    border: none;
    outline:none;
    border: 2px solid lightgrey;
    border-radius: 15px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
    
}

.input-wrapper input:hover {
    border:1px solid blue;
}

.form-button{
    background-color: #1877F2;
    color: white;
    width:100%;
    height:50px;
    border-radius:10px;
    font-size: 24px;
    
}

.form-button:hover{
    border: 1px solid blue;
    background-color: rgb(19, 182, 19);
    color:white;
}

.signup-info-text{
    margin-top: 30px;
    font-weight:300px;
    font-size: 20px;
    
}