/* .postItem {
    border: 5px solid black;
} */
/* Styling the header */
.timeline-header{
    display:flex;
    justify-content: space-between;
    position:sticky;
    top: 0;
    background-color:#FFFFFF;
    height:50px;

}

/* Timeline header buttons styling */

.timeline-header-btn{
    background: transparent;
    border: 0px;
    color: #0866FF;
    
    padding: 0px 10px;
    
}   

.header-wrapper{
    display:flex;
    color:#0866FF;
    padding:15px;
}


/* styling post section */
.single-post-wrapper{
    height:700px;
    width:725px;
    /* border: 5px solid black; */
    text-align:left;
    display:flex;
    
    align-items:center;
    flex-direction:column;
    margin-bottom: 100px;
    background-color: white;
    border-radius:10px;
}

.post-header-wrapper{
    margin:25px ;
    flex-direction:row;
    /* border: 5px solid black; */
    width: 700px;
}

.header-child-wrapper{
    display:flex;
    /* border: 5px solid blue; */
}



.post-title{
    /* border: 5px solid blue; */
}

.all-post-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color:#F2F3F5;
}

.post-content{
    /* background-color:lightcoral; */
    border: 1px solid black;
    width:725px;
    height: 400px;
    text-align:left;
    padding: 15px;
}

.post-buttons{
    width:700px;
    height: 50px;
    background-color: lightgoldenrodyellow;
    margin-top:20px;
}

.create-comment{
    width:700px;
    height: 25px;
    
    
}

.comments-div{
    background-color:blue;
    
}

.likes-div{
    background-color: red;
}